* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-grow: 1;
}

.left {
    flex: 0 0 20%; /* Adjust the width of the left section */
    background-color: #f1f1f1; /* Optional: Add a background color */
    overflow-y: auto; /* Enable vertical scrolling if needed */
}
.left {
    width: 200px; /* Set the width of the container */
}

.in-left {
    overflow: hidden; /* Hide the overflow to create a mask */
}

.task1
 {
    white-space: nowrap; /* Prevent text from wrapping */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.task1:hover {
    background-color: rgb(212, 212, 232);
    transform: translateX(-5px); /* Slide 5px to the left on hover */
}



a {
    text-decoration: none;
    color: #000;
}
.in-left p{
    padding: 20px; 
    
}

.right {
    flex: 1;
    padding: 20px; /* Adjust the padding as needed */
}

.big-menu {
    background-color: #ffffff; 
}

.in-big-menu {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
    box-sizing: border-box;
    border-bottom:1px solid brown ;
}

.logo {
    width: 20%;
}

.logo img {
    width: 100%;
}

.account {
    width: 20%; /* Adjust as needed */
}

.account p {
    text-align: right; /* Align the text to the right side */
    /* Add your styling properties here if needed */
}
