*{
   margin:  0;
   padding: 0;

}

#wrapper{
   width: 80rem;
   margin: auto;
   background-color: #4f5b66;
}
.body{
   font: sans-serif;
   width: 100%;
  
}
.in-top{
   background-color: rgb(18,134,96);
   display: flex;
   justify-content: center;
}


/*--------------search-----------------*/

.container-1{

   position: relative;
   margin-top: 8px;
 }
.box{
   width: 70%;
   margin-bottom: 5px;
}
 .container-1 input#search{
   width: 100%;
   height: 35px;
   background: #ffffff;
   font-size: 10pt;
   float: left;
   color: #63717f;
   padding-left: 45px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
 }
.icon-gb{
    background-color: brown;
}
.container-1 .icon{
   position: absolute;
   top: 50%;
   margin-left: 17px;
   margin-top: 10px;
   color: #4f5b66;
   
 }
.icon:hover{
  cursor: pointer;
  color:rgb(255, 118, 118);
}/*--------------------------------------------*/
.big-menu a{
    text-decoration: none;
    color: #000;
}
.top-right-item{
 
    margin-top: 5px;
   width: 20%;
text-align: center;
}

.logo img{
    width:100% ;
}
.logo
{
    width: 30%;
}
.big-menu{
   display: flex;
   justify-content: center;
   background-color: rgb(255, 255, 255);
   position: relative;
}
.top-right{
    display: flex;
    width: 40%;
}
.in-big-menu{
   background-color: #ffffff;
   padding: px 0;
   display: inline-flex;
   justify-content: center;
   width: 1270px;
  
}
.top-right-sub-menu{
   margin-top: 5px;
   text-align: center;
   width: 20%;

}
.menu-right{
    display: flex;
    justify-content:space-between;
}

/*------------------------------------------*/
/*wrapper*/
.menu-bar{
   display: none;
   position: absolute;
   margin-left: 5px;
}
.menu-bar-content ul{
   display: flex;
   justify-content: space-evenly;
   
}
.menu-bar-content{
   background-color:#ffdddd ;
   width: 80rem;
   position: relative;
   margin-left: -220px;
   margin-top: 5px;
}
.menu-bar-content > ul> li{
   
   list-style: none;
   width: 25%;
   height: 40px;
   line-height: 40px;
   text-align: center;
}
.menu-bar-content a{
   text-decoration: none;
   color: #000;
}
.menu-bar-content li:hover{
   background-color:rgb(255, 147, 147) ;
   transition: 0.3s;
}


/*---------------------------*/

.top-right-sub-menu:hover .menu-bar{
   display: block;
}

/*------------------*/
.sub-menu{
   position: absolute;
   background-color: rgb(248, 243, 227);
   width: 1256px;
   height: auto;
   right: 0px;
   top: 100%;
   padding: 12px;
   display:none;
}
.in-sub-menu{
   display: flex;
   justify-content:space-between ;
   margin: 20px;
}
.sub-menu ul{
   display: flex;
   flex-direction: column;
}

.sub-menu ul li{

   list-style: none;
   text-align: left;
}

/*.menu-bar-content-icon{
   display: none;
}
.menu-bar-content ul li:hover .menu-bar-content-icon i{
   display: block;
}*/
/*---------------------------*/
.sub-menu li:first-child{
  
   font-weight: bold;
}

.sub-menu1 li:nth-last-child(1){
    color: orange;
   font-weight: bold;
}

.in-sub-menu2 li:nth-child(6){

   margin-top: 20px;
   font-weight: bold;
}

.sub-menu3 li:nth-child(6){
   font-weight: bold;
   margin-top: 20px;
}

.sub-menu3 li:nth-child(11){
   font-weight: bold;
}



/*-------------------------*/
.sub-menu ul li:hover{
   background: none;
   
}
.sub-menu ul li a:hover{
   color: rgb(94, 156, 210);
   text-decoration: underline;
}
.menu-bar-content ul li:hover .sub-menu{
   display: block;
}
.sub-menu-pic{
   margin-right: 0;
}
.sub-menu-pic img{
 transition: all 0.4s ease; 
}
.sub-menu-pic img:hover{
   transform: scale(1.01);
   
}


.in-slider1{
   width: 80rem;
   background-color: #ffffff;
}
.slidebody{
   
   display: flex;
   padding: 10px 0;
   justify-content:space-between;
   width: 80em;
}

.in-slidebody-left{
   width: 40%;
}
.in-slidebody-left img{
   width: 100%;
   display:flex;
   margin-left: 3px;
   margin-bottom: 5px;
}

#slideshow {
   margin-left: 15px;
   overflow: hidden;
   width: 850px;
 }
 
 .slide-wrapper {
   width: 9999px;
   -webkit-animation: Slide 14s ease infinite;
 }
 
 .slide {
   
   float: left;
   width: 850px;
 }
 .slide img{
   width: 100%;
 }
 
 @-webkit-keyframes Slide {
   20% {margin-left: 0px;}
   30% {margin-left: -850px;}
   50% {margin-left: -850px;}
   60% {margin-left: -1700px;}
   80% {margin-left: -1700px;}
 }
 

/*------------------------------*/
.in-slider2{
   width: 80rem;
   background-color: rgb(255, 255, 255);
}


.slider2 ul{
   width: 80em;
   list-style: none;
   display:flex;
   justify-content: center;

   
}
.in-slider3{
   width: 80rem;
  background-color: rgb(255, 255, 255); 
}
#slider3{
   padding: 8px 0;
}
#slider3 ul{
   
   list-style: none;
   text-align:center;
   padding:10px 0;
}
#slider3 ul li{
   display: inline-table;
   width: 100px;
  padding: 6px 20px;

}

#slider3 ul li a{
   width: 20%;
}


/*-----------------------*/

#slider4{
   background-color: rgb(255, 255, 255);
   padding: 10px 8px;
   height: 20px;
   line-height: 20px;
   width: 79.1em;
   border-bottom:1px solid rgb(225, 225, 225) ;
}

.in-slider4-left a{
   text-decoration: none;
   float: left;
}
.in-slider4-right{
   text-align: right;
}

/*--------------slider5----------------*/




.slider5 li{
   list-style: none;
}

.slider-product-one-content{
background-color: rgb(255, 255, 255);
padding: 12px 0;
width: 80em;
}

.slider-product-one-content-items{

   display: flex;
   justify-content: space-evenly;/*khoang cach deu*/
}

.slider-product-one-content-item a:hover> img{
   transform: translateY(-15px);
}
.slider-product-one-content-item{
   width: 17%;
   background-color: rgb(237, 243, 248);
   padding: 30px 17px;
   border-radius: 5px;

}

.slider-product-one-content-item a> img{
   width: 100%;
   transition: all 0.5s ease;
}
/*------------------------*/
.slider-product-one-content-item li a{
   text-decoration: none;
 
}

.slider-product-one-content-item-text li:nth-child(4){
   font-size: 80%;
   color:rgb(138, 138, 138)
}
.slider-product-one-content-item-text li:nth-child(5){
   color:rgb(255, 126, 41)
}


.slider-text1 li a{
   width: 50px;
   color: black;
}

.slider-text2 li a{
   color: rgb(9, 141, 9);
}

.slider-text1 li a:hover{
   text-decoration: underline;
   color: rgb(56, 59, 240);
}

.slider-text2 li a:hover{
   text-decoration: underline;
}

.slider-product-one-content-item-text li{
   margin-bottom: 6px;
}
.slider-product-one-content-item-text img{
   width: 30px;
}

.slider-product-one-content-item-picture li{
   height: 30px;
   width: 80%;
   background-color: rgb(248, 255, 32);
   display:inline-block;
   align-items: center;
   border-radius: 20px;
   line-height: 30px;
}

.slider-product-one-content-item-picture{
   font-size: 12px;
}

.slider-product-one-content-item-picture img{
   width: 30px;
   float: left;
   margin-right: 6px;
}


/*-----------------slider5-----------------*/
.in-slider5{
   width: 80rem;
   background-color: white;
}

.in-slider5-top li{
   display: inline;
   margin-right: 20px;
   font-size: large;
}
.in-slider5-bottom-product img{
width: 100%;
}
.in-slider5-bottom-product{
   background-color: antiquewhite;

}
.in-slider5-bottom-product li:nth-child(2){
   color: #ba3434;
}
/*--------------------*/

.page a{
   text-decoration: none;
   border: 1px solid black;
   border-radius: 3cap ;
   padding: 5px 10px;
   width: 5px;
   
}
.page ul li{
   list-style: none;
   display: inline-table;
   padding: 0 2px;
}
.page ul{
    text-align: right;
}

.page a:hover{
   background-color: aqua;
   color: #ba3434;
   transition: 0.3s;
}
/*-----------slider6--------------------*/
.in-slider6-top button{
   background-color: white;
   border: none;
   width: 100px;
   height: 25px;
   line-height: 25px;
   font-weight: bold;
   
}
.slider6{
   width: 80em;
   background-color: white;
}

.in-slider6-top button:hover{
   cursor: pointer;
   color: #ba3434;
   transition:all ease-in-out 0.1s;
}
.in-slider6-bottom{
   margin-top: 10px;
   width: 100%;
}
.in-slider6-bottom-left{
   margin-left: 0;
   float: left;
   width: 30%;
} 
.in-slider6-bottom-left img{
   width: 100%;
  
}
.in-slider6-top{
   height: 30px;
   line-height: 30px;
   background-color: rgb(255, 255, 255);
}
.in-slider6-picture{
   width: 24.7%;
   display: inline-flex;
}
.in-slider6-title a{
   background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
            display: inline;
            white-space: nowrap;
            overflow: hidden;
}
.in-slider6-picture-product{
   border: 1px solid rgb(236, 236, 236);
   padding: 15px;
}
.in-slider6-bottom-top-right{
   margin-left: 10px;
}
.in-slider6-picture-product-image img{
   width: 100%;
}
.in-slider6-bottom-left{
   margin-right: 10px;
}
.in-slider6-price li{
   list-style: none;
   padding-top: 8px;
}
.in-slider6-title{
    margin-top: 10px;
}
.in-slider6-title a{
  
   text-decoration: none;
   color: black;
}
.in-slider6-price li:nth-child(1){
   color: #ba3434;
   font-weight:bolder;
}
.in-slider6-price li:nth-child(2){
   color: gray;
   font-size: small;
   display: inline-flex;
}
.price-down{
   list-style: none;
   background-color: #ba3434;
   color: white;
   width: 45px;
  
   margin-left: 10px;
}
.price-down p{
   text-align: center;
}
/*---------------------*/
#category2{
   display: none;
}

/*------------------*/

.footer{
   background-color: white ;
}
.footer li{
list-style: none;
padding: 5px 0;
}

.footer a{
   text-decoration: none;
   color: black;
}

.footer a:hover{
   color: rgb(12, 12, 127);
}

.book{
   color: blue;
}

.book:hover{
   text-decoration: underline;
}
/*-------------------*/
.in-footer-top{
   padding: 10px 5px;
}

/*-------------------------*/
.in-footer-body{
   
   margin-top: 10px;
   margin-bottom: 10px;
   display: flex;
   justify-content: space-evenly;
}


.in-footer-body p{
   font-weight: bold;
   font-size: 20px;
}
.in-footer-body-left{
   width: 25%;
}
.in-footer-body-left li{
   
   display: inline-table;
   margin-left: 5px;
}

.in-footer-body-mid{
   width: 25%;
}
.in-footer-body-mid p{
   margin-bottom: 2px;
}
.in-footer-body-mid1 li{
   padding: 2px;
}

.in-footer-body-right{
   width: 25%;
}
.in-footer-body-right li{
  
   display: inline-table;
   margin-left: 5px;
}
.in-footer-body a:hover{
   color: rgb(0, 0, 209);
   text-decoration: underline;
}

#content {
   height: 1000px;
 }
 
 /* Mui ten lên dau trang */
#backtop {
  width:60px;
  height: 60px;
  background: tomato;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  position: fixed;
  bottom: 40px;
  right: 40px;
   }
    
   #backtop:hover {
   background-color: rgb(253, 123, 123)
   }
/*--------------Modal---------------*/
.nenmodal .nenmodal2 {
   position:fixed;
   top:0px;
   left:0px;
   width:100vw;
   height:100vh;
   background:rgba(0,0,0,0.7);
   z-index:1;
   display:none;
   }
   /* CSS bảng nội dung Modal */
   .ndmodal img{
      width: 100%;
     
   }
   .nenmodal .ndmodal {
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%) scale(0);
   background:#ffffff;
   width:700px;
   
   z-index:2;
   text-align:center;
   box-sizing:border-box;
   font-family:"Open Sans",sans-serif;
  
   display: block;
   position: fixed;
   box-shadow:0px 0px 10px #111;
   }
   @media (max-width: 700px) {
   .nenmodal .ndmodal {width:90%;}
   }
   /* CSS bao bọc của nút tắt Modal */
   .nenmodal .closemodal {
   text-align:center;
   margin-top:-40px;
   
   }
   /* CSS tieu de của Modal */
  
   /* CSS nút tắt modal */
   .closemodal button{
   width:40px;
   height:40px;
   font-size:30px;
   padding:0px;
   border-radius:100%;
   background:#333;
   color:#fff;
   border:none;
   }
   .nenmodal.active .nenmodal2 {
   display:block;
   }
   /* CSS hiệu ứng hiển thị Modal */
   .nenmodal.active .ndmodal {
   transition:all 300ms ease-in-out;
   transform:translate(-50%,-50%) scale(1);
   }
   /*_________________Responsive__________________*/
   @media (max-width:1283px) {

      .in-top{
         display: none;
      }
      .in-slidebody-left{
         display: none;
      }
      .in-slidebody-right{
         margin-left: 200px;
      }
      #slider3 li:nth-child(8)
      {
         display: none;
      }
   }
   @media (max-width: 1252px) {
   
      .big-menu{
         display: flex;
         justify-content: center;
      }
      .in-slider2 li:nth-child(4){
         display: none;
      }
      .big-menu{
         display: inline-flex;
      }
      .slider-product-one-content-items{ 
         justify-content: center;
      }
      .slider-product-one-content-item:nth-child(5){
         display: none;
      }
      .slider-product-one-content-item:nth-child(5){
         display: none;
      }
      .slider-product-one-content-item:nth-child(5){
         display: none;
      }
      .in-slider6-picture:nth-child(7){
         display: none;
       }
       .in-slider6-picture:nth-child(8){
         display: none;
       }
      .in-slider6-picture{
         display: inline-flex;
         margin-left: 120px;
         width: 20%;
      }
      #slider4{
         width: 50%;
         
         justify-content:center;
         display: inline-flex;
      }

      .in-slider6-top{
         width: 80%;
         display: flex;
        
         margin-left: 130px;
      }
      
   }

 

   @media (max-width: 920px) {
      #slider3 li:nth-child(8)
      {
         display: none;
      }
      
   }

   @media (max-width: 330px){
      
      #slider3{
         display: none;
      }
      .in-slider2 li{
         display: none;
      }
      
      .slider-product-one-content-item:nth-child(4){
         display: none;
      }
      .slider-product-one-content-item{
         width: 50%;
      }
   }
   @media (max-width: 280px){
      .slider-product-one-content-item:nth-child(3){
         display: none;
      }
   }
   @media (max-width: 240px){
      .slider-product-one-content-item:nth-child(2){
         display: none;
      }
      #wrapper{
        
      }
   }

