*{
   margin: 0;
   padding: 0;
   
}

#wrapper{
   width: 1200px;
   margin: auto;
   
}

body{
   
   font: sans-serif;
   width: 100%;
   background-color: rgb(233, 233, 233);
}

.top{
      
     background-color: rgb(134, 255, 170);
     width: 100%;
}

.in-top{
   width: 79%;
   justify-content: center;
   margin: auto;
   
}
.top-left{
   padding: 0 ;
   width: 50%;
   float:left ;
   justify-content: space-between;
}

.top-right{
   width: 50%;
   justify-content: right;
   display: flex;
}

.top ul{
   position: relative;
   list-style: none;
}



.top ul li{
text-align: center;
display: inline-table;
width: 100px;
height: 35px;
line-height: 35px;/*line-height = height*/
position: relative;
border-radius:15px;
}

.top ul li a{
   text-align: center;
   color: rgb(59, 64, 61);
   text-decoration: none;
   display: block;
   border-radius:15px;
   width: 50;
}




.top ul li a:hover{
   background-color:rgb(86, 231, 129);
   transition: 0.3s;
}

/*-------------------------------*/
.big-menu{
   width: 100%;
   background-color: #ffffff;
   position: relative;
   
}

.logo{
   width: 33%;
   margin-right: 20px;
}

.menu{
   padding: 5px 0;
   background-color: rgb(255, 255, 255);
   height: 50px;
   display: flex;
   margin: auto;
   justify-content: space-around;
   width: 78%;
}

.container-1{

   position: relative;
   margin-top: 8px;
 }
.box{
   width: 33%;
}
 .container-1 input#search{
   width: 100%;
   height: 35px;
   background: #ffffff;
   font-size: 10pt;
   float: left;
   color: #63717f;
   padding-left: 45px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
 }

.menu-right a{
   text-decoration: none;
   color: #000;
}


.container-1 .icon{
   position: absolute;
   top: 50%;
   margin-left: 17px;
   margin-top: 10px;
   color: #4f5b66;
 }
.icon:hover{
  cursor: pointer;
  color:white;
}
.menu-right{
   width: 33%;
   display: inline-flex;
   text-align: center;
   padding: 5px 0px;
}


.bell{
   padding:0 20px;
}

/*wrapper*/
.menu-bar-content ul{
   display: flex;
}
.menu-bar-content{
   background-color:rgb(134, 255, 170) ;
}
.menu-bar-content > ul> li{
   
   list-style: none;
   width: 20%;
   height: 40px;
   line-height: 40px;
   text-align: center;
}
.menu-bar-content a{
   text-decoration: none;
   color: #000;
}
.menu-bar-content li:hover{
   background-color:rgb(114, 220, 136) ;
   transition: 0.3s;
}

.menu-bar-content{
   position: relative;
}

/*------------------*/
.sub-menu{
   position: absolute;
   background-color: bisque;
   width: 1176px;
   height: auto;
   left: 0;

   top: 100%;
   padding: 12px;
   display: none;
   
}
.in-sub-menu{
   display: flex;
   justify-content:space-between ;
}
.sub-menu ul{
   display: flex;
   flex-direction: column;
}

.sub-menu ul li{

   list-style: none;
   text-align: left;
}

/*.menu-bar-content-icon{
   display: none;
}
.menu-bar-content ul li:hover .menu-bar-content-icon i{
   display: block;
}*/
/*---------------------------*/
.sub-menu li:first-child{
  
   font-weight: bold;
}

.sub-menu1 li:nth-last-child(1){
    color: orange;
   font-weight: bold;
}

.in-sub-menu2 li:nth-child(6){

   margin-top: 20px;
   font-weight: bold;
}

.sub-menu3 li:nth-child(6){
   font-weight: bold;
   margin-top: 20px;
}

.sub-menu3 li:nth-child(11){
   font-weight: bold;
}



/*-------------------------*/
.sub-menu ul li:hover{
   background: none;
   
}
.sub-menu ul li a:hover{
   color: rgb(94, 156, 210);
   text-decoration: underline;
}
.menu-bar-content ul li:hover .sub-menu{
   display: block;
}

.sub-menu-pic img{
 transition: all 0.4s ease; 
}
.sub-menu-pic img:hover{
   transform: scale(1.01);
   
}
/*---------------------------------------*/
.in-slidebody-right{
   width: 100%;
}
.slidebody{
   background-color: #ffffff;
   width: 100%;
   display: inline-flex;
   padding: 10px 0;
}
.in-slidebody-left{
   width: 40%;
   
}
.in-slidebody-left img{
   margin-left: 4px;
   width: 107%;
   display:flex;
}

#slideshow {
   margin-left: 30px;
   overflow: hidden;
   width: 925px;
 }
 
 .slide-wrapper {
   width: 9999px;
   -webkit-animation: Slide 14s ease infinite;
 }
 
 .slide {
   float: left;
   width: 925px;
 }
 .slide img{
   width: 100%;
 }
 
 @-webkit-keyframes Slide {
   20% {margin-left: 0px;}
   30% {margin-left: -925px;}
   50% {margin-left: -925px;}
   60% {margin-left: -1850px;}
   80% {margin-left: -1850px;}
 }
 



.slider2{
   
   background-color: rgb(255, 255, 255);
   width: 100%;
}
.slider2 ul{
   
   list-style: none;
   display:inline-flex;
   padding: 25px 3px;
   text-align: center;
   
}
#slider3{
   padding: 8px 0;
}
#slider3 ul{
   background-color: rgb(255, 255, 255);
   list-style: none;
   text-align:center;
   padding:10px 0;
}
#slider3 ul li{
   display: inline-table;
   width: 100px;
  padding: 6px 25px;

}

#slider3 ul li a{
   width: 20%;
}


/*-----------------------*/

#slider4{
   background-color:rgb(134, 255, 170);
   padding: 10px 8px;
   height: 20px;
   line-height: 20px;
}

.in-slider4-left a{
   text-decoration: none;
   float: left;
}
.in-slider4-right{
   text-align: right;
}

/*--------------slider5----------------*/
.slider5{
   padding:10px 0;
}

.slider5 li{
   list-style: none;
}

.slider-product-one-content{
background-color: rgb(255, 255, 255);
padding: 12px 0;
}

.slider-product-one-content-items{
   display: flex;
   justify-content: space-evenly;/*khoang cach deu*/
}

.slider-product-one-content-item a:hover> img{
   transform: translateY(-20px);
}
.slider-product-one-content-item{
   width: 19%;
   background-color: aliceblue;
   padding: 50px 12px;
   border-radius: 5px;

}

.slider-product-one-content-item a> img{
   width: 100%;
   transition: all 0.5s ease;
}

.slider-product-one-content-item li a{
   text-decoration: none;
 
}

.slider-product-one-content-item-text li:nth-child(4){
   font-size: 80%;
   color:rgb(138, 138, 138)
}
.slider-product-one-content-item-text li:nth-child(5){
   color:rgb(255, 126, 41)
}


.slider-text1 li a{
   width: 50px;
   color: black;
}

.slider-text2 li a{
   color: rgb(9, 141, 9);
}

.slider-text1 li a:hover{
   text-decoration: underline;
   color: rgb(56, 59, 240);
}

.slider-text2 li a:hover{
   text-decoration: underline;
}

.slider-product-one-content-item-text li{
   margin-bottom: 6px;
}
.slider-product-one-content-item-text img{
   width: 30px;
}

.slider-product-one-content-item-picture li{
   height: 30px;
   width: 80%;
   background-color: rgb(248, 255, 32);
   display:inline-block;
   align-items: center;
   border-radius: 40px;
   line-height: 30px;
}

.slider-product-one-content-item-picture{
   font-size: 12px;
}

.slider-product-one-content-item-picture img{
   width: 30px;
   float: left;
   margin-right: 6px;
}

/*-----------------slider6-----------------*/

#slider6{
   background-color: rgb(255, 216, 168);
   list-style: none;
   
}

.in-slider6-top{
   height: 20px;
   line-height: 20px;
   padding: 10px 0;
}

.in-slider6-top a{
   text-decoration: none;
   color: black;
}

.in-slider6-top-left a{

 float: left;
}
.in-slider6-top-right{
   text-align: right;
  

}

.in-slider6-top-right li{
   
   display: inline-table;
}

.in-slider6-top-right li a{
    padding: 0 5px;
}


.in-slider6-bottom{
   padding: 5px 0;
   background-color: blanchedalmond;
   width: 100%;
}

.in-slider6-bottom-left{
   width: 25%;
   position: relative;
}

.in-slider6-bottom-right{
  
   width: 65%;
}

.in-slider6-bottom-left img{
   width: 100%;
}
.in-slider6-bottom-top-right{
   
   display: inline-flex;
}

.in-slider6-bottom-top-right li{
 
   display: inline-table;
  margin-top: 30px;
}

.in-slider6-bottom-bottom-right{
  
   display: inline-flex;
  
}


.in-slider6-bottom{
   display: inline-flex;
}

.in-slider6-picture img{
   display: inline-flex;
   transition: all 0.3s ease;
   width: 100%;
   margin-left: 8px ;
}
.in-slider6-picture img:hover{
transform: scale(1.05);
}
.in-slider6-picture{
   
   
   margin-left: 20px;
   background-color: aliceblue;
}

.in-slider6-title {
   padding: 5px 2px;
}

.in-slider6-title a{
   text-decoration: none;
}
.in-slider6-top a:hover{   
   color: blue;
  text-decoration: underline;
}

   
.in-slider6-price li:nth-child(1){
   color: rgb(255, 94, 0);
}


.in-slider6-price li {
   padding: 0 1px;

}

.in-slider6-price li:nth-child(2){
   font-size: 80%;
   color: rgb(177, 177, 177);
}

.in-slider6-price li:nth-child(3){
   color: white;
   text-align: center;
   width: 40px;
   height: 25px;
   line-height: 25px;
   background-color: red;
}

.in-slider6-bottom a:hover{
   color: blue;
   text-decoration: underline;
}

/*--------------------*/
.page a{
   text-decoration: none;
   border: 1px solid black;
   border-radius: 3cap ;
   padding: 5px 10px;
   width: 5px;
   
}
.page ul li{
   list-style: none;
   display: inline-table;
   padding: 0 2px;
}
.page ul{
    text-align: right;
}

.page a:hover{
   background-color: aqua;
   color: #ba3434;
   transition: 0.3s;
}

/*------------------*/


.footer li{
list-style: none;
padding: 5px 0;
}

.footer a{
   text-decoration: none;
   color: black;
}

.footer a:hover{
   color: rgb(12, 12, 127);
}

.book{
   color: blue;
}

.book:hover{
   text-decoration: underline;
}
/*-------------------*/
.in-footer-top{
   padding: 10px 5px;
}

/*-------------------------*/
.in-footer-body{
   margin-top: 10px;
   margin-bottom: 10px;
   display: flex;
   justify-content: space-evenly;
}


.in-footer-body p{
   font-weight: bold;
   font-size: 20px;
}
.in-footer-body-left{
   width: 25%;
}
.in-footer-body-left li{
   position: relative;
   display: inline-table;
   margin-left: 5px;
}

.in-footer-body-mid{
   width: 25%;
}
.in-footer-body-mid p{
   margin-bottom: 2px;
}
.in-footer-body-mid1 li{
   padding: 2px;
}

.in-footer-body-right{
   width: 25%;
}
.in-footer-body-right li{
   position: relative;
   display: inline-table;
   margin-left: 5px;
}
.in-footer-body a:hover{
   color: rgb(0, 0, 209);
   text-decoration: underline;
}

#content {
   height: 1000px;
 }
 
 /* Mui ten lên dau trang */
#backtop {
  width:60px;
  height: 60px;
  background: tomato;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  position: fixed;
  bottom: 40px;
  right: 40px;
   }
    
   #backtop:hover {
   background-color: rgb(253, 123, 123)
   }

 
   
 