body {
   width: auto;
   margin: auto;
   font-family: Arial, Helvetica, sans-serif;
}

.container {
   max-width: 960px;
   margin: 0px auto;
}

#header {
   background-color: rgb(214, 235, 255);
}

nav {
   display: flex;
   justify-content: space-between;
   justify-items: center;
}

#logo {
   padding: 5px 0px;
}

#logo img {
   max-width: 50px;
   height: auto;
}

#main-menu {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
}

#main-menu li {
   position: relative;
}

#main-menu li a {

   display: block;
   padding: 18px 20px;
   text-decoration: none;
}

#main-menu ul.sub-menu {
   position: absolute;
   background-color: bisque;
   padding: 15px 0px;
   list-style: none;
   width: 200px;
}

#main-menu li:hover ul.sub-menu {
   display: block;
}

#main-menu ul.sub-menu a {
   padding: 12px 15px;
   border-bottom: 1px solid blanchedalmond;
}

#main-menu ul.sub-menu li:hover a {
   background: #CDE2CD;
}

#main-menu ul.sub-menu li:last-child a {
   border: none;
   display: inline-table;
}